html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "helvetica";
}

h1 {
  color: #4caf50;
  font-size: 2em;
  font-style: oblique;
}

img {
  max-width: 100%;
}

time {
  color: gray;
}
