html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "helvetica";
}

.topbar ul {
  list-style-type: none;
  margin: 0;
  padding-right: 50;
  overflow: hidden;
  background-color: #333;
  opacity: 0.7;
}
.topbar li {
  float: right
}
.topbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  text-decoration: none;
}
.topbar li a:hover {
  background-color: #111;
}
.topbar .active {
  background-color: #555;
  opacity: 0.7;
}

.bg-img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.bg-img img {
  position: absolute;
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.login {
  position: absolute;
  top: 100;
  right: 50;
  width: 350;
  padding: 30;
  background-color: #4caf50;
  opacity: 0.7;
}
.login .title {
  color: white;
  font-size: 2em;
  font-weight: bold;
}
.login form {
  width: 100%;
}
.login input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0;
  box-sizing: border-box;
}
.login button {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
}
.login button:hover {
  background-color: white;
  color: black;
}
